In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

In [2]:
names = ["srcip", "sport", "dstip",  "dsport", "proto", "state", "dur", "sbytes", "dbytes",  
         "sttl", "dttl", "sloss", "dloss", "service", "Sload", "Dload", "Spkts", "Dpkts", "swin", 
         "dwin", "stcpb", "dtcpb", "smeansz", "dmeansz", "trans_depth", "res_bdy_len", "Sjit", 
         "Djit", "Stime", "Ltime", "Sintpkt", "Dintpkt", "tcprtt", "synack", "ackdat", "is_sm_ips_ports", 
         "ct_state_ttl", "ct_flw_http_mthd", "is_ftp_login", "ct_ftp_cmd", "ct_srv_src", "ct_srv_dst", 
         "ct_dst_ltm", "ct_src_ltm", "ct_src_dport_ltm", "ct_dst_sport_ltm", "ct_dst_src_ltm", "attack_cat", "Label"]

In [3]:
df1 = pd.read_csv('/home/lly/DataSecurity/datasets/UNSW_NB15/CSV Files/UNSW-NB15_1.csv', names=names)
df2 = pd.read_csv('/home/lly/DataSecurity/datasets/UNSW_NB15/CSV Files/UNSW-NB15_2.csv', names=names)
df3 = pd.read_csv('/home/lly/DataSecurity/datasets/UNSW_NB15/CSV Files/UNSW-NB15_2.csv', names=names)
df4 = pd.read_csv('/home/lly/DataSecurity/datasets/UNSW_NB15/CSV Files/UNSW-NB15_2.csv', names=names)

/tmp/ipykernel_1772536/2301953938.py:1: DtypeWarning: Columns (1,3,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('/home/lly/DataSecurity/datasets/UNSW_NB15/CSV Files/UNSW-NB15_1.csv', names=names)
/tmp/ipykernel_1772536/2301953938.py:2: DtypeWarning: Columns (3,39,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('/home/lly/DataSecurity/datasets/UNSW_NB15/CSV Files/UNSW-NB15_2.csv', names=names)
/tmp/ipykernel_1772536/2301953938.py:3: DtypeWarning: Columns (3,39,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv('/home/lly/DataSecurity/datasets/UNSW_NB15/CSV Files/UNSW-NB15_2.csv', names=names)
/tmp/ipykernel_1772536/2301953938.py:4: DtypeWarning: Columns (3,39,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df4 = pd.read_csv('/home/lly/DataSecurity/datasets/UNSW_NB15/CSV Files/UNSW-NB15_2.csv', names=names)

In [4]:
df=pd.concat([df1, df2], ignore_index=True)
df=pd.concat([df, df3], ignore_index=True)
df=pd.concat([df, df4], ignore_index=True)

In [5]:
df.head()

,srcip,sport,dstip,dsport,proto,state,dur,sbytes,dbytes,sttl,...,ct_ftp_cmd,ct_srv_src,ct_srv_dst,ct_dst_ltm,ct_src_ltm,ct_src_dport_ltm,ct_dst_sport_ltm,ct_dst_src_ltm,attack_cat,Label
0,59.166.0.0,1390,149.171.126.6,53,udp,CON,0.001055,132,164,31,...,0,3,7,1,3,1,1,1,NaN,0
1,59.166.0.0,33661,149.171.126.9,1024,udp,CON,0.036133,528,304,31,...,0,2,4,2,3,1,1,2,NaN,0
2,59.166.0.6,1464,149.171.126.7,53,udp,CON,0.001119,146,178,31,...,0,12,8,1,2,2,1,1,NaN,0
3,59.166.0.5,3593,149.171.126.5,53,udp,CON,0.001209,132,164,31,...,0,6,9,1,1,1,1,1,NaN,0
4,59.166.0.3,49664,149.171.126.0,53,udp,CON,0.001169,146,178,31,...,0,7,9,1,1,1,1,1,NaN,0

In [6]:
df['attack_cat'] = df['attack_cat'].str.strip()

In [7]:
df['attack_cat'].value_counts()

attack_cat
Generic           91171
Exploits          38718
Fuzzers           19055
DoS               15078
Reconnaissance    11107
Analysis           2350
Shellcode          1195
Backdoor           1110
Backdoors           534
Worms               144
Name: count, dtype: int64

In [8]:
# 替换'attack_cat'列中的NaN值为'Normal'  
df['attack_cat'] = df['attack_cat'].fillna('Normal') 

df['attack_cat'].value_counts()

attack_cat
Normal            2619542
Generic             91171
Exploits            38718
Fuzzers             19055
DoS                 15078
Reconnaissance      11107
Analysis             2350
Shellcode            1195
Backdoor             1110
Backdoors             534
Worms                 144
Name: count, dtype: int64